header {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 5em;
  font-weight: 00;
}

h1 span {
  color: #15372b;
}

h2 {
  margin-top: 0;
  font-family: "Outfit", sans-serif;
  font-size: 3em;
  font-weight: 500;
}

h2 span {
  text-decoration: underline;
  text-decoration-color: #ff9f29;
  text-decoration-thickness: 0.15em;
}

header p {
  border-left: 6px solid lightgray;
  padding-left: 1em;
}
